/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

@import url("https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap");

.nav {
  width: 60%;
  display: inline-block;
}

.nav-container {
  background-color: rgba(83, 135, 195, 0.5);
  position: fixed;
  top: 0;
  left: 5%;
  right: 5%;

  z-index: 10;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  padding: 2% 5%;
  color: grey;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s ease;
}
.nav a:hover {
  color: white;
}

.nav a:first-child {
  padding-left: 0.4rem;
}

.logo {
  margin: 1rem 0 0 35rem;
  width: 10%;
}

header h1 {
  display: inline-block;
}

.sub-header-container {
  width: 90%;
  margin: 9rem auto 0;
}

.sub-header {
  display: inline-block;
  width: 40%;
  text-align: center;
}
.sub-header h1 {
  font-size: 5rem;
  margin-bottom: 15%;
}

.sub-header span {
  display: block;
}

.sub-header button {
  display: block;
  border: 2px solid grey;
  font-size: 1.2rem;
  color: grey;
  margin: -7rem auto 0;
  padding: 0.4rem 3.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sub-header button:hover {
  background: grey;
  color: white;
}

.img-logo {
  display: inline-block;
  margin-left: 20%;
}
/* .img-logo img {
  width: 500px;
} */
.img-logo {
  width: 500px;
  height: 500px;
  background: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin: 5rem 0;
  padding-bottom: 5rem;
  font-family: "Raleway", sans-serif;
}

.main-container h3 {
  font-size: 1.7rem;
}
.main-container p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.section-features {
  width: 40%;
  display: inline-block;
  margin-right: 25rem;
  margin-top: 3rem;
}

.section-about {
  width: 40%;
  display: inline-block;
}

.img-container {
  margin: 3rem 0;
  width: 100%;
  height: 20vh;
  background: url("../img/mid-page-accent.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .img-container .middle-img {
  width: 100%;
  height: 20vh;
} */

.section-services {
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}

.section-product {
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}
.section-vision {
  display: inline-block;
  width: 30%;
}

footer h3 {
  font-size: 1.7rem;
}

address {
  width: 250px;
  font-size: 1.4rem;
  margin-bottom: 7rem;
}

.number {
  display: inline-block;
  padding: 1.5rem 0;
}

.copyright-text {
  text-align: center;
  margin-bottom: 7rem;
}
/* 
 Give the navigation a background color and have it be fixed to the top of the page so that it scrolls with the user. You will want to study what z-index means in case you encounter any issues when you scroll.

 Introduce a new font family from google fonts

 Create a new page based off of a navigation item. Create your own layout using box model and display: inline-block;

 Change all the image tags into background images instead

 Research CSS animations and see how you could implement some ideas when hovering over buttons or navigation items
*/
